<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title><%= @title %></title>
</head>
<body>
  <h1>
    <div><%= @content %></div>
    <div><%= @email %></div>
  </h1>
</body>
</html>
