<form action="/new/<%= @memo_info[:id] %>" method="post">

  <div class="form-items">
    <div class="form-items__item">
      <input type="text" name="name" value="<%= sanitizing_text(@memo_info[:name]) %>">
      <textarea name="content"><%= sanitizing_text(@memo_info[:content]) %></textarea>
    </div>
    <div class="form-action">
      <input type="hidden" name="_method" value="PUT">
      <button type="submit" class="bottun">変更</button>
    </div>
  </div>
</form>

<a href="/">
  <button type="button">TOPへ</button>
</a>
