<form action="/new/<%= @memo_info[:id] %>" method="post">
  <p>
  <div>
    <input type="text" name="name" value="<%= sanitizing_text(@memo_info[:name]) %>">
  </div>
  </p>

  <p>
  <div>
    <textarea name="content"><%= sanitizing_text(@memo_info[:content]) %></textarea>
  </div>
  </p>

  <input type="hidden" name="_method" value="PUT">
  <button type="submit">変更</button>
</form>

<a href="/">
  <button type="button">TOPへ</button>
</a>
