<h2><div><%= @content %></div></h2>

<div class="memo">
  <ul>
    <% Dir.open('./public/').each_child do |item| %>
      <li><a href="<%= item %>"><%= item %></a></li>
    <% end %>
  </ul>
</div>

<form action="/new" method="get">
  <button type="submit">追加</button>
</form>

