<% require './myapp.rb' %>
<div class="memo">
  <ul>
    <% get_memo_num.times do |i| %>
      <% memo_info = parse_memo_detail(i+1) %>
      <li><a href="/show/<%= memo_info[:id] %>"><%= memo_info[:name] %></a></li>
    <% end %>
  </ul>
</div>

<form action="/new" method="get">
  <button type="submit">追加</button>
</form>

