<h2><%= @content %></h2>
<form action="/new" method="post">
  <div class="form-items">
    <div class="form-items__item">
      <input type="text" name="name">
      <textarea name="content"></textarea>
    </div>
    <div class="form-action">
      <button type="submit" class="bottun">保存</button>
    </div>
  </div>
</form>

<a href="/">
  <button type="button">TOPへ</button>
</a>
