<p><div><%= @memo_info[:name] %></div></p>

<p><div class="content">
  <% @memo_info[:content].split.each do |n| %>
    <%= n %></br>
  <% end %>
</div></p>

<form action="/<%= @memo_info[:id] %>/edit" method="post">
  <input type="hidden" name="_method" value="PUT">
  <button type="submit">変更</button>
</form>

<form action="/<%= @memo_info[:id] %>/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">削除</button>
</form>

<a href="/">
  <button type="button">TOPへ</button>
</a>
